.medicine-main-grid a,
.medicine-news-grid a,
.medicine-services-list a{
    color: #008c95;
}
.medicine-main-grid .items{
    position: relative;
    display: inline-block;
    float: left;
    width: 262px;
    height: 187px;
    margin: 0 38px 30px 0;
    background-color: #008d97;
    background-repeat: no-repeat;
    border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
}
.medicine-main-grid .items:last-child{
    float: none;
}
.medicine-main-grid .items:nth-child(2n){
    margin-right: 0;
}
.medicine-main-grid .items .title{
    position: absolute;
    vertical-align: middle;
    bottom: 0;
    width: 100%;
    padding: 11px 0;
    text-align: center;
    font-size: 16px;
}
.medicine-main-grid .items .title a{
    color: #fff;
    text-decoration: none;
}
.medicine-news-grid .items .date,
.medicine-news-grid .items .image{
    float: left;
    width: 163px;
}
.medicine-news-grid .items .text,
.medicine-news-grid .items .name{
    float: right;
    width: 370px;
}
.medicine-news-grid .items{
    padding: 10px;
    margin-bottom: 20px;
}
.medicine-news-grid .items:nth-child(2n){
    background-color: #ebebeb;
}
.medicine-news-grid .items .title{
    clear: both;
    margin-bottom: 10px;
}
.medicine-news-grid .items .details-link{
    width: 100%;
    text-align: right;
}

.medicine-sanatorium-services{
    background-color: #ebebeb;
    padding: 10px;
}
.medicine-sanatorium-services .title{
    text-align: center;
    margin: 10px 0 20px;
    font-size: 18px;
}
.medicine-sanatorium-services .grid .items{
    display: inline-block;
    float: left;
    width: 163px;
    height: 175px;
    margin: 0 26px 0 0;
    text-align: center;
}
.medicine-sanatorium-services .grid .items:nth-child(3n){
    margin-right: 0;
}
.medicine-sanatorium-services .grid .items:last-child{
    float: none;
}

.medicine-services-list ul{
    list-style-type: none;
    font-size: 14px;
}
.medicine-services-list li{
    padding-left: 25px;
    margin-bottom: 10px;
    background-image: url("../img/bullet.png");
    background-repeat: no-repeat;
    background-position: top left 0 70%;
}
.medicine-services-list li:last-child{
    margin-bottom: 0;
}

.pager{
    display: table;
    margin: 0 auto;
    background-color: #ebebeb;
}
.pager a,
.pager span{
    display: table-cell;
    vertical-align: middle;
    padding: 0 6px;
    background-image: url("../img/grayDot.png");
    background-repeat: repeat-x;
    background-position: 0 100%;
}
.pager span{
    font-style: italic;
}
.pager a{
    text-decoration: none;
    color: #008c95;
}
.pager a.active, .pager a:hover{
    color: #fff;
    background-color: #008c95;
}
.pager .shift{
    width: 15px;
    height: 31px;
    padding: 0;
    background-image: url("../img/pagerShift.png");
}
.pager .shift:last-child{
    background-position: -15px;
}

.cure-map-wrapper{
    position: relative;
    width: 562px;
    height: 506px;
    margin: 0 auto 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url("../img/cure/man.jpg") no-repeat #008d97;
    font-family: "Arial", sans-serif;
}
.cure-map-wrapper .hover a{
    position: absolute;
    display: block;
    opacity: 0;
    background: url("../img/cure/manHover.png") no-repeat;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
}
.cure-map-wrapper .hover a.active,
.cure-map-wrapper .hover a:hover{
    opacity: 1;
}
.cure-map-wrapper .hover a.s1{
    width: 100px;
    height: 83px;
    top: 80px;
}
.cure-map-wrapper .hover a.s2{
    width: 119px;
    height: 145px;
    top: 80px;
    left: 140px;
    background-position: -140px 0;
}
.cure-map-wrapper .hover a.s3{
    width: 47px;
    height: 75px;
    top: 149px;
    left: 94px;
    background-position: 0 -146px;
}
.cure-map-wrapper .hover a.s4{
    width: 124px;
    height: 293px;
    top: 205px;
    left: 49px;
    background-position: -48px -146px;
}
.cure-map-wrapper .hover a.s5{
    width: 78px;
    height: 163px;
    top: 51px;
    right: 0;
    background-position: -259px 0;
}
.cure-map-wrapper .hover a.s6{
    width: 79px;
    height: 68px;
    top: 201px;
    right: 0;
    background-position: -259px -164px;
}
.cure-map-wrapper .links{
    position: relative;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}
.cure-map-wrapper .links a{
    position: absolute;
    color: #fff;
    text-decoration: underline;
}
.cure-map-wrapper .links a:hover{
    text-decoration: none;
}
.cure-map-wrapper .links a.s1{
    top: 120px;
    left: 190px;
}
.cure-map-wrapper .links a.s3{
    top: 205px;
    left: 160px;
}
.cure-map-wrapper .links a.s4{
    top: 380px;
    left: 25px;
}
.cure-map-wrapper .links a.s5{
    top: 150px;
    right: 35px;
}
.cure-map-wrapper .links a.s6{
    top: 230px;
    right: 45px;
}
.cure-map-wrapper .info{
    position: absolute;
    top: 270px;
    width: 210px;
    left: 210px;
    font-size: 12px;
    line-height: 1.3em;
    color: #b3feb4;
}
.cure-map-wrapper .info h2{
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3em;
}

.simple_content #pdescription{
    /*float: left;*/
    width: 362px;
}
.simple_content .plofiles-list{
    float: right;
    width: 170px;
}
.simple_content .plofiles-list li:nth-child(2n){
    background-color: #ebebeb;
}
.simple_content .plofiles-list a{
    display: block;
    padding: 3px 7px;
    text-decoration: none;
}
.simple_content .plofiles-list li:hover,
.simple_content .plofiles-list li.active{
    background-color: #008c95;
}
.simple_content .plofiles-list li:hover a,
.simple_content .plofiles-list .active a{
    color: #fff;
}
.simple_content .plofiles-list li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.simple_content .plofiles-list li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nosology ul{
    margin-left: 23px;
}
.nosology li{
    padding: 5px 10px;
}


.drevo li{
padding-top: 7px;
}
.drevo li{
    background-color: #ebebeb;
}
.drevo ul li{
	background: none!important;
    border-bottom: 1px #ebebeb solid!important;
}
.top, .top a{
color:#159fa7!important;
font-weight:bold;
}

.zebra .sel td{
background-color:#159fa7!important;
color:#FFFFFF;
}
.zebra  a{
text-decoration:none!important;
}
.zebra  a:hover{
text-decoration:underline!important;
}
